@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 0.5px;
    right: 0;
    background: black;
    transition: width 1s ease;
}
  
.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: black;
}